@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
:root {
    --accent-color: #08520c;
    --main-color: black;
    font-family: 'Kelly Slab', cursive;
    scroll-behavior: smooth;
}
header nav {
    margin: auto;

}
body {
    max-width: 980px;
    margin: auto;
    background-color: cornsilk;
}
img {
    border: 3px outset #55c5e9;
    padding: 15px;
    background: #666;
    display: block;
    margin: auto;
}





