@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
:root {
    --accent-color: #08520c;
    --main-color: black;
    font-family: 'Kelly Slab', cursive;
    scroll-behavior: smooth;
}
body{
    max-width: 980px;
    margin: auto;
    background-color: gainsboro;
}
.gallery {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
footer.contacts {
    font-family: 'Freckle Face', cursive;
    font-size: 1rem;
    color: dodgerblue;
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}

