html {
    border: 3px solid black;
    max-width: auto;
    margin: auto;
    height: auto;
}
#home {
   border: 2px solid green;

}
h1 {
    color: grey;
    border: 2px solid grey;
    margin: auto;
}
h2 {
    border-style: outset;
    color: green;
}
#selected {
    border: 2px outset yellowgreen;
    position: sticky;
    top: auto;
    right: auto;
}
.underline {
    text-decoration: underline;
}
p {
    color:black;
    margin: 10px;
    padding: 20px;
}
p::first-letter {
    font-size: 2rem;
}