@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');


:root {
    --accent-color: #08520c;
    --main-color: black;
    font-family: 'Kelly Slab', cursive;
    scroll-behavior: smooth;
}
body {
    max-width: 980px;
    margin: auto;
}
.arrow:focus {
  outline: none;
}

.arrow:hover {
  opacity: .8;
  cursor: pointer;
}
header nav .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}
header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px outset var(--accent-color);
}
@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }
header nav .menu {
        flex: 1;
        border-color: transparent;
    }
}
#home h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#home {
   border: 4px solid green;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 3rem;
   color: var(--accent-color);
}

.vacation {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.villa {
    text-align: center;
    display: block;
    width: 100%;
}
.welcome {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.fish {
    font-family: 'Kelly Slab', cursive;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.fish.text {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;

}
.fish_on_the_brazier {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}
.brazier {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#sauna {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "heading"
    "img";
  justify-items: center;
  align-items: center;
  padding: 10px;
}

#sauna h2 {
  grid-area: heading;
}

#sauna img {
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(104, 94, 94, 0.3), 0 15px 12px rgba(34, 31, 31, 0.22);
  max-height: 400px;
  grid-area: img;
}
@media (min-width: 750px) {
  #sauna {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "img heading"
      "img first-par"
      "img last-par";
    grid-gap: 10px;
  }
  #sauna img {
    max-height: 500px;
  }
}

.lake {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    font-family: 'Kelly Slab', cursive;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    width: 100%;
}
#services {
    font-family: 'Kelly Slab', cursive;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_lot_of_services {
    color: rgb(2, 10, 2);
    text-indent: 40px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    color:black;
    margin: 10px;
    padding: 20px;
}
p::first-letter {
    font-size: 2rem;
}
.data {
    border: 3px solid #08520c;
}
.reserve {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    border: 3px solid #08520c;
    text-indent: 40px;
    margin: auto;
    text-align: center;
}
.your-data {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.button {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
}
footer {
  background-color: #a9aeb1;
}
.find_us {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.way {
    display: flex;
    justify-content: center;
    width: 100%;
}