@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
:root {
    --accent-color: #08520c;
    --main-color: black;
    font-family: 'Kelly Slab', cursive;
    scroll-behavior: smooth;
}
body {
    max-width: 980px;
    margin: auto;
    background-color: aliceblue;
}
 .clock_shade {
 position: absolute;
 color: rgb(96, 146, 163);
 top: 3px;
 left: 63px;
 font-size: 30px;
 z-index: 1;
}
.clock {
 position: absolute;
 color: Deepskyblue;
 top: 0px;
 left: 60px;
 font-size: 30px;
 z-index: 1;
}
.arrow:focus {
  outline: none;
}

.arrow:hover {
  opacity: .8;
  cursor: pointer;
}
header nav .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}
header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px outset var(--accent-color);
}
@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }
header nav .menu {
        flex: 1;
        border-color: transparent;
    }
}
#home {
   display: flex;
   justify-content: center;
   border: 4px solid green;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 3rem;
   color: var(--accent-color);
}
.countdown {
    display: grid;
    grid-auto-columns: inherit;
    margin-bottom: 10px;
}
.coutdown-new-year {
    color: var(--main-color);
    font-weight: 50;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 50;
    text-align: center;
    font-size: 1rem;
}
.countdown-number {
    padding: 5px;
    border-radius: 1.2px;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 2px;
    background: var(--main-color);
    display: inline-block;
}
.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 1.2rem;
}
@media (min-width: 200px) {
    #countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    }
}
.vacation {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.villa {
    text-align: center;
    display: block;
    width: 100%;
}
.welcome {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.fish {
    font-family: 'Kelly Slab', cursive;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.fish.text {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;

}
.fish_on_the_brazier {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}
.brazier {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#sauna {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "heading"
    "img";
  justify-items: center;
  align-items: center;
  padding: 10px;
}

#sauna h2 {
  grid-area: heading;
}

#sauna img {
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(104, 94, 94, 0.3), 0 15px 12px rgba(34, 31, 31, 0.22);
  max-height: 400px;
  grid-area: img;
}
@media (min-width: 750px) {
  #sauna {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "img heading"
      "img first-par"
      "img last-par";
    grid-gap: 10px;
  }
  #sauna img {
    max-height: 500px;
  }
}

.lake {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    font-family: 'Kelly Slab', cursive;
    font-size: 2rem;
    color: rgb(10, 59, 10);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    width: 100%;
}
#services {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Kelly Slab', cursive;
    font-size: 3rem;
    color: chocolate;
}
.services_list {
    font-size: 1.5rem;
    color: maroon;
    text-indent: 40px;
}
p {
    color:black;
    margin: 10px;
    padding: 20px;
}
p::first-letter {
    font-size: 2rem;
}
.data {
    border: 3px solid #08520c;
}
.reserve {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    margin: auto;
    text-align: center;
}
.your-data {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.button {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
}
footer {
  background-color: #a9aeb1;
}
.find_us {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.way {
    display: flex;
    justify-content: center;
    width: 100%;
}