@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
:root {
    --accent-color: #08520c;
    --main-color: black;
    font-family: 'Kelly Slab', cursive;
    scroll-behavior: smooth;
}
body {
    max-width: 980px;
    margin: auto;
    background-color: aliceblue;
}
.price {
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: rgb(32, 73, 32);
    text-indent: 40px;
    padding: auto;
    margin: auto;
    text-align: center;
}
.price_list {
    font-size: 2rem;
    color: rgb(32, 73, 32);
    padding: auto;
    margin: auto;
    text-align: center;
}
.unnouncement {
    font-size: 1.5rem;
    color: royalblue;
    padding: auto;
    margin: auto;
    text-align: center;
}
.attention {
    font-size: 1.5rem;
    color: red;
    text-align: center;
}
.cook_forel {
    color: darkblue;
    font-size: 1.5rem;
    text-align: center;
}
.cook_сyprinus {
    color:forestgreen;
    font-size: 1.5rem;
    text-align: center;
}
.lives {
    color:forestgreen;
    font-size: 1.5rem;
    text-align: center;
}
.sauna {
    color:forestgreen;
    font-size: 1.5rem;
    text-align: center;
}